.app__newsletter{
    background: var(--color-base);
    
    font-family: var(--font-family);
}

.app__newsletter-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.app__newsletter-content h2{
    text-transform: uppercase;
    padding-bottom: 0.3rem;
}

.app__newsletter-content h3{
    padding-bottom: 1rem;
}

.app__newsletter-content input{
    flex: 1;
    font-family: var(--font-family);
    padding: 1.5rem; 
    width: 80%;
    margin-bottom: 1rem;
    background: #e6e7e5;
    outline: none;
    border: none;
}

@media screen and (max-width:750px) {
    .app__newsletter-content input{
        width: 100%;
    }
}